@import './animations.css';
@import './fonts.css';

*:not(fieldset) {
    box-sizing: border-box;
    user-select: none;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

:root {
    --playlist-height: 30vh;
    --gap-app: 10px;
    --padding-app: 10px;
}

ul {
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    background: #f4f6fa;
    background-size: 400% 400%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #585858;
}

button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    transform: scale(1.1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    border: 1px solid rgb(206, 206, 206);
}

legend {
    padding: 0 5px;
    font-weight: 600;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

#app {
    width: 1000px;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 340px 1fr;
    gap: var(--gap-app);
    height: 100vh;
    padding: var(--padding-app);
}

.scrolled {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: all 0.3s;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
/* total width */
.scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #d7d5d5;
    border-radius: 16px;
    border: 5px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
    display: none;
}

/**** Start Player ****/
.player-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    font-size: 1.6rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.player-section .song-title {
    width: 100%;
    color: #53565a;
    font-size: 2rem;
    text-align: center;
    padding: 15px 5px;
}

.player-section .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.player-section .controls-action {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(203 203 203);
    width: 60%;
    border-radius: 30px;
}

.player-section .time-slider {
    margin-bottom: 20px;
}

.player-section .action-play-pause {
    position: absolute;
}

.player-section .play,
.player-section .pause {
    background-image: linear-gradient(
            to right top,
            #d16ba5,
            #c777b9,
            #ba83ca,
            #aa8fd8,
            #9a9ae1,
            #8aa7ec,
            #79b3f4,
            #69bff8,
            #52cffe,
            #41dfff,
            #46eefa,
            #5ffbf1
    );
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}

.player-section .next,
.player-section .prev {
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #bbbaba;
    position: relative;
    padding: 19px 30px;
}

.player-section .play:hover,
.player-section .pause:hover {
    transform: scale(1.1);
}

.player-section .next:hover,
.player-section .prev:hover {
    transform: scale(1.2);
}

.player-section .volume_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.player-section .volume_container .volume-down {
    margin-right: 10px;
    display: inline-block;
}

.player-section .volume_container .volume-up {
    margin-left: 15px;
    display: inline-block;
}

.player-section .timer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 1.2rem;
}

.player-section .k-progress-outer {
    margin-top: 15px !important;
    padding-right: 0 !important;
}

.player-section .setting-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.player-section.hide-setting-block .setting-section {
    display: none;
}

.player-section .setting-block .loops p {
    color: #5d5555;
    font-size: 1.6rem;
}

.player-section .setting-block .loops p:not(:last-child) {
    margin-bottom: 5px;
}

.player-section .setting-block .btn {
    width: 60px;
    height: 40px;
    border: solid 1px #b7b7b7;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}

.player-section .setting-block .btn:hover {
    background-color: #f3f3f3;
}

.player-section .play-form-to {
    width: 100%;
}

.player-section .play-form-to .play-form-to-label {
    flex-basis: 40px;
    margin-right: 10px;
}

.player-section .play-form-to .play-form-to-radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-section .play-form-to .select {
    width: 80px;
}

.player-section .play-form-to .select-label {
    margin: 0 10px;
}

.player-section .play-form-to .play-form-to-custom {
    display: flex;
    justify-content: space-between;
}

.player-section .play-form-to .play-form-to-custom-select {
    display: flex;
    align-items: center;
}

.player-section .setting-block .btn-set-from-to {
    margin-left: 10px;
}

.player-section .loops-input {
    padding: 2px;
    margin: 0 2px;
    width: 30px;
    text-align: center;
    border: none;
    font-size: 1.6rem;
    border-bottom: 1px #d4d4d4 solid;
}

.player-section .text-primary {
    color: #dc3545;
}

/* The container */
.player-section .radio-container {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.player-section .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.player-section .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.player-section .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.player-section .radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.player-section .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.player-section .radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.player-section .radio-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.player-section .radio-container input[disabled] ~ .checkmark {
    opacity: 0.6;
}

/**** End Player ****/

/**** Start Lyrics ****/
.lyrics-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
    position: relative;
    height: calc(100vh - var(--playlist-height) - var(--gap-app) - var(--padding-app) * 2);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}

.lyrics-section .text {
    padding: 20px 30px;
    text-align: center;
    overflow: auto;
}

.lyrics-section .text:hover {
    overflow: auto;
}

.lyrics-section h3 {
    color: #212121;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}

.lyrics-section p {
    color: #696969;
    transition: all 0.7s;
    cursor: pointer;
    font-size: 1.8rem;
}

.lyrics-section p.lyric2 {
    text-align: left;
}

.lyrics-section p.over {
    color: #c0c0c0;
}

.lyrics-section p:hover {
    color: #5991e5;
}

.lyrics-section p.active {
    color: #355fe5;
    font-weight: bold;
    transform: scale(1.1);
}

.lyrics-section p:not(:last-child) {
    margin-bottom: 20px;
}

.lyrics-section p:first-letter {
    text-transform: capitalize;
}

.select-lyric-type {
    width: 110px !important;
    position: absolute !important;
    top: 10px;
    left: 10px;
    z-index: 10;
}

/**** End Lyrics ****/

/**** Start playlist ****/
.playlist-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
    position: relative;
    height: var(--playlist-height);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

.playlist-section h3 {
    color: #212121;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
}

.playlist-section .song-playlist {
    overflow: auto;
    height: 100%;
}

.playlist-section .song {
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-bottom: #ececec solid 1px;
}

.playlist-section .song.active {
    background-color: #e9f3f7;
    border-bottom: #dcecf2 solid 1px;
}

.playlist-section .details {
    margin-left: 10px;
    width: 100%;
}

.playlist-section .details > .song-title {
    font-size: 1.6rem;
}

.playlist-section .song:hover {
    background-color: #e9f3f7;
    border-bottom: #dcecf2 solid 1px;
    transition: background-color 0.3s;
}

/**** End playlist ****/

/**** Start Mobile ****/
@media (max-width: 768px) {
    body {
        background-color: #ffffff;
    }

    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }

    #app {
        width: 1000vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .player-section {
        order: 3;
        padding: 0 25px 25px;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .player-section.hide-setting-block {
        height: 300px;
    }

    .playlist-section,
    .lyrics-section {
        border-radius: 0;
        box-shadow: none;
        height: 0;
        transition: all 0.3s;
    }

    .playlist-section.active,
    .lyrics-section.active {
        display: block;
        height: calc(100vh - 350px);
        box-shadow: 0px -22px 9px -27px rgba(0, 0, 0, 0.45) inset;
    }

    /**** Start navigation mobile ****/
    .nav-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        font-size: 2.5rem;
        color: #5d5555;
        width: 100%;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        align-items: center;
        background-color: #ffffff;
    }

    .nav-mobile .lyrics,
    .nav-mobile .playlist {
        padding: 10px 20px;
        width: 50%;
        text-align: center;
        border-bottom: solid 3px #ffffff;
    }

    .nav-mobile .lyrics.active,
    .nav-mobile .playlist.active {
        color: #42a5f5;
        border-bottom-color: #42a5f5;
        display: block;
    }

    /**** End navigation mobile ****/
}

/**** End Mobile ****/
